{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Kirti Sharma | Cybersecurity Portfolio</title>
    <link rel="stylesheet" href="{% static  'style.css' %}">
</head>

<body>

    <header>
        <nav>
            <h2>Kirti Sharma</h2>
            <ul>
                <li><a href="#home">Home</a></li>
                <li><a href="#profile">Profile</a></li>
                <li><a href="#skills">Skills</a></li>
                <li><a href="#projects">Projects</a></li>
                <li><a href="#contact">Contact</a></li>
                <li><a href="#certificates">Certificates</a></li>
            </ul>
        </nav>
    </header>

    <!-- HERO SECTION -->
    <section id="home" class="hero">
        <div class="hero-text">
            <h1>Hello, I'm Kirti Sharma</h1>
            <h3 id="typing-text"></h3>
            <p>
                Cybersecurity trainee with hands-on knowledge of Linux commands, security tools, and basic Python.
                Focused on Web Security, Vulnerability Assessment, and Cloud Infrastructure.
                Capable of building basic full-stack web applications using frontend and backend technologies.
                Interested in developing secure, scalable, and responsive systems.Passionate about protecting digital
                systems and improving cloud architectures
            </p>
            <a href="Myresume.docx" download class="resume-btn">
                Download Resume
            </a>
        </div>

        <div class="hero-image">
            <img src="static/images/b99c03dc-9340-4107-af64-64851a5b0221.jfif" alt="Profile Image">
        </div>
    </section>

    <!-- PROFILE -->
    <section id="profile" class="profile-section">
        <h2>About Me</h2>

        <div class="profile-container">

            <!-- Main Profile Image -->


            <div class="profile-content">
                <h3>Certified Cybersecurity Trainee | Full Stack Developer | Python Developer</h3>

                <p>
                    I am a passionate and dedicated Certified Cybersecurity Trainee with
                    strong knowledge in Web Security, Network Security, and Vulnerability
                    Assessment. I actively work on identifying security flaws using tools
                    like Nmap and methodologies based on OWASP Top 10. My goal is to build
                    secure digital environments and protect systems from modern cyber threats.
                </p>

                <!-- 3 Skill Boxes With Images -->
                <div class="skill-box-container">

                    <div class="skill-box">
                        <img src="static/images/cyber.jfif" alt="Cybersecurity">
                        <h4>🔐 Cybersecurity</h4>
                        <p>
                            Skilled in vulnerability scanning, penetration testing basics,
                            risk analysis, and security reporting. Focused on protecting
                            systems from real-world cyber threats.
                        </p>
                    </div>

                    <div class="skill-box">
                        <img src="static/images/fullstack.jfif" alt="Full Stack Development">
                        <h4>🌐 Full Stack Development</h4>
                        <p>
                            Building complete web applications using frontend and backend
                            technologies. Creating secure, scalable and responsive systems.
                        </p>
                    </div>

                    <div class="skill-box">
                        <img src="static/images/pythoon.png" alt="Python Development">
                        <h4>🐍 Python Development</h4>
                        <p>
                            Using Python for automation, backend development, scripting,
                            and solving real-world technical problems efficiently.
                        </p>
                    </div>

                    <div class="skill-box">
                        <img src="static/images/cloud.jfif" alt="Cloud Computing">
                        <h4>Cloud Computing</h4>
                        <p>
                            Cloud computing is the on-demand delivery of IT resources—including computing power,
                            storage, and software—over the internet with pay-as-you-go pricing. Instead of managing
                            physical data centers, users rent technology services from providers like AWS, Microsoft
                            Azure, and Google Cloud
                        </p>
                    </div>



                </div>

            </div>
        </div>
    </section>


    <!-- SKILLS -->
    <section id="skills" class="skills-section">
        <h2>Technical Skills & Professional Expertise</h2>

        <p class="skills-description">
            My technical skill set combines cybersecurity practices, cloud technologies,
            backend development, and programming knowledge. I focus on building secure,
            efficient, and scalable systems while continuously improving my technical
            understanding through hands-on projects and practical implementation.
        </p>

        <div class="card-container">

            <div class="card">
                <img src="static/images/nmap.jfif" alt="Nmap">
                <h3>🔍 Nmap</h3>
                <p>
                    Experienced in network scanning, port analysis, and identifying
                    vulnerabilities using Nmap. Skilled in analyzing system exposure
                    and generating structured security reports.
                </p>
            </div>

            <div class="card">
                <img src="static/images/owasp.jfif" alt="OWASP">
                <h3>🛡 OWASP Top 10</h3>
                <p>
                    Strong understanding of OWASP Top 10 web application security risks,
                    including SQL Injection, XSS, authentication flaws, and secure coding practices.
                </p>
            </div>

            <div class="card">
                <img src="static/images/aws.png" alt="AWS">
                <h3>☁ AWS Cloud</h3>
                <p>
                    Knowledge of AWS services like EC2, IAM, and RDS. Understanding
                    of cloud deployment, access control management, and secure
                    infrastructure configuration.
                </p>
            </div>

            <div class="card">
                <img src="static/images/python.jfif" alt="Python">
                <h3>🐍 Python</h3>
                <p>
                    Proficient in Python fundamentals including data structures,
                    loops, functions, APIs, and automation scripting for backend
                    and cybersecurity applications.
                </p>
            </div>

            <div class="card">
                <img src="static/images/sql.png" alt="SQL">
                <h3>🗄 SQL</h3>
                <p>
                    Skilled in writing structured queries, database design basics,
                    data manipulation, and managing relational databases securely.
                </p>
            </div>

            <div class="card">
                <img src="static/images/git.png" alt="GitHub">
                <h3>🔗 Git & GitHub</h3>
                <p>
                    Experience with version control systems, repository management,
                    branch handling, and collaborative development workflows.
                </p>
            </div>

        </div>
    </section>
    <!-- PROJECTS -->
    <!-- PROJECTS -->
    <section id="projects">
        <h2>Projects</h2>
        <div class="project-container">

            <!-- Project 1 -->
            <a href="{% static 'files/KIRTI SHARMA report file (2) (2).pdf' %}" target="_blank" class="project-link">
                <div class="project-card">
                    <img src="https://images.unsplash.com/photo-1550751827-4bd374c3f58b" alt="Cybersecurity Project">
                    <h3>Windows Penetration Testing & Vulnerability Assessment</h3>

                    <p>
                        This project focused on performing penetration testing on a Windows-based system to identify
                        security vulnerabilities and potential attack vectors. The assessment followed a structured
                        methodology including reconnaissance, scanning, vulnerability analysis, and reporting.
                        The objective was to simulate real-world attack scenarios to evaluate the system’s security
                        posture and identify weaknesses before they could be exploited. The project included risk
                        analysis and recommended mitigation strategies to strengthen overall system security
                    </p>

                    </p>

                    <p><strong>Click to view detailed project report →</strong></p>
                </div>
            </a>


            <!-- Project 2 -->
            <a href="{%static 'E-commers/index.html'%}" target="_blank" class="project-link">
                <div class="project-card">
                    <img src="https://images.unsplash.com/photo-1498050108023-c5249f4df085" alt="Full Stack Project">
                    <h3>Full Stack E-Commerce Web Application</h3>
                    <p>

                    <p>
                        This is a Full Stack demo project where I created an E-Commerce website similar to Flipkart and
                        Amazon.It demonstrates how an online shopping platform looks and works, including product
                        display, cart
                        functionality,and category browsing. Users can add or remove products in this demo project. The
                        interface of
                        the website is designed using HTML and CSS to provide a clean and responsive user experience.
                        Users can browse products, add items to the cart, remove products from the cart, and explore
                        different sections of the website
                    </p>

                    </p>
                    <p><strong>Click to View Live Project →</strong></p>
                </div>
            </a>

            <!-- Project 3 -->
            <a href="{% static 'files/sql project.pdf' %}" target="_blank" class="project-link">
                <div class="project-card">
                    <img src="https://images.unsplash.com/photo-1526379095098-d400fd0bf935"
                        alt="SQL Road Accident Project">
                    <h3>SQL Road Accident Data Analysis 2020</h3>
                    <p>
                        This project focuses on analyzing Road Accident Data 2020 using SQL.
                        The dataset was examined to identify cities with more than 15 reported
                        minor injury cases and to evaluate the major contributing factors.
                        Using SQL queries such as COUNT(), GROUP BY, ORDER BY, filtering,
                        and ranking techniques, the project extracts meaningful insights
                        about high-risk cities, common accident causes, and outcome
                        distributions. The analysis supports data-driven road safety planning.“SQL analysis of Road
                        Accident Data 2020 to identify high-risk cities and key accident trends.
                    </p>
                     <p><strong>Click to View Live Project →</strong></p>

                </div>
            </a>

        </div>
    </section>
    
<section class="certificates">

    <h2>My Certifications</h2>

    <div class="slider-container">

        <!-- Left Arrow -->
        <button class="arrow left">&#10094;</button>

        <div class="slider">
            <img src="static/images/WhatsApp Image 2026-02-24 at 11.28.34 AM.jpeg" alt="Certificate 1">
            <img src="static/images/WhatsApp Image 2026-02-24 at 11.28.35 AM.jpeg" alt="Certificate 2">
            <img src="static/images/kirti certificate_page-0001.jpg" alt="Certificate 3">
        </div>

        <!-- Right Arrow -->
        <button class="arrow right">&#10095;</button>

    </div>

    <div class="download-section">
        <a href="certificates/certificate.pdf" download class="download-btn">
            Download Certificate
        </a>
    </div>

</section>


    <!-- CONTACT -->
    <!-- CONTACT SECTION -->
    <section id="contact" class="contact-section">
        <h2>Contact Me</h2>

        <div class="contact-container">

            <!-- LEFT SIDE - Contact Info -->
            <div class="contact-info">
                <h3>Let's Connect</h3>
                <p>
                    I am always open to discussing new projects, cybersecurity collaborations,
                    backend development opportunities, or internship roles. Feel free to
                    reach out for professional inquiries or technical discussions.
                </p>

                <div class="contact-details">

                    <p>
                        <strong>📧 Email:</strong>
                        <a href="mailto:kirtisharma2819@gmail.com">
                            kirtisharma2819@gmail.com
                        </a>
                    </p>

                    <p>
                        <strong>💼 LinkedIn:</strong>
                        <a href="https://www.linkedin.com/in/kirti-sharma-82a5232a8/" target="_blank">
                            linkedin.com/in/kirti-sharma-82a5232a8
                        </a>
                    </p>

                    <p>
                        <strong>💻 GitHub:</strong>
                        <a href="https://github.com/kirtisharma" target="_blank">
                            github.com/kirtisharma
                        </a>
                    </p>

                    <p><strong>📍 Location:</strong> India</p>

                </div>
                <img src="static/images/b99c03dc-9340-4107-af64-64851a5b0221.jfif" alt="Contact Illustration"
                    class="contact-image">
            </div>

            <!-- RIGHT SIDE - Contact Form -->
            <div class="contact-form">
                <form>
                    <input type="text" placeholder="Your Full Name" required>
                    <input type="email" placeholder="Your Email Address" required>
                    <input type="text" placeholder="Subject">
                    <textarea rows="5" placeholder="Write your message here..." required></textarea>
                    <button type="submit">Send Message</button>
                </form>
            </div>

        </div>
    </section>







    </div>
    </section>

    </div>
    </section>

    </div>
    </section>
    <footer>
        <p>© 2026 Kirti Sharma | Developer Portfolio</p>
    </footer>
    <script src="{% static 'script.js' %}"></script>
    <script src="script.js"></script>
</body>

</html>